/*
############
## HEADER ##
############
*/
/*Damos un padding al header y lo centramos usando grid con place-content que sirve para centrar tanto en el eje vertical como en el horizontal (porque en este caso el header solo tiene un elemento que ocupa toda una zelda)*/
.app > header {
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: var(--azulOscuro);
}

/*H1*/
.app > header > h1 {
  font-size: 3.5rem;
  text-align: center;
  border: 4px solid var(--rojo);
  border-radius: 1rem;
  padding: 0px 20px 2px 20px;
  background-color: var(--amarillo);
  box-shadow: 8px 8px 5px 3px rgba(0, 0, 0, 0.15);
  color: var(--rojo);
}

/*MENÚ*/
.app > header > nav {
  padding: 1.5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav > a,
.menu-divider {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
  padding: 0.5rem;
  font-family: 'Shantell Sans', sans-serif;
}

nav > a.active {
  text-decoration: underline 4px;
}

nav > a.menu-button-1 {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  margin-right: 0.5rem;
}

nav > a.menu-button-2 {
  margin-left: 0.5rem;
}

/*#####################################################################*/

/*
### RESPONSIVE PARA TABLET ##
#############################
#### MEDIA QUERY: 700px #####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 700 píxeles*/
@media (min-width: 700px) {
  .app > header > h1 {
    padding: 0px 10px 2px 10px;
  }

  .menu-divider {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  nav > a.menu-button-1 {
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  nav > a.menu-button-2 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }
}

/*#####################################################################*/

/*
##### RESPONSIVE PARA PC ####
#############################
#### MEDIA QUERY: 1200px ####
#############################
*/
/*Todo esto son cambios específicos que se aplicarán a partir de los 1200 píxeles*/
@media (min-width: 1200px) {
  .app > header > h1 {
    font-size: 4rem;
  }

  nav > a.menu-button-1 {
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    margin-right: 0.5rem;
  }

  nav > a.menu-button-2 {
    margin-left: 0.5rem;
  }
}
